.experence{
    display: flex;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.lenguajes{
    display: flex;
    margin: 20px 0px ;
    justify-content: space-between;
    
}