.content-2{
    width: 300px;
    height: 25vh;
    margin-top: 15px;
    border: 6px solid black;
}
.card-img{
    border-radius: 0%;
    margin: 10px 10px;
    width: 50px;
    height: 50px;
}
.content{
    display: flex;
    flex-direction: row;
    width: 280px;
    margin: 10px;
    background: green;
    border-radius: 10px;
}
.card-text{
    margin: 0px 0px 0px -58px;
    text-align: center;
}
.title-2{
    font-size: 20px;
    color: white;
}
.link-2{
    color: black;
}
.Description-2{
    color: white;
}

@media(max-width:769px){
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .content-2{
        display: flex;
        width: 70%;
        flex-direction: column;
        flex-wrap: wrap;
        border: 3px solid black;
    }
}
@media(max-width:481px){
    .cards{
        height: 100vh;
    }
    .content-2{
        height: 120vh;
      
    }
}
